body{
  position: relative;
  height: 100%;
  width: 100%;
}

.staff-pic {
  max-height: 250px;
}

/*NAV OPTIONS*/
#spar-nav.affix{
	top: 24px;
}
/* hide sidebar sub menus by default */
#spar-nav .nav .nav {
	display: none;
  font-size:12px;
}
/* show sub menu when parent is active */
#spar-nav .nav>.active>ul {
	display: block;
}
/* Indent sub nav */
#spar-nav .nav .nav{
	margin-left: 20px;
}
/* add border to active links */
#spar-nav .nav .active>a, #spar-nav .nav .active>a:hover{
	border-left: 2px solid #0a6ebd;
  color: #0a6ebd
}
#spar-nav .nav>li>a:hover{
	background: none;
	border-left: 1px solid #0a6ebd;
  color: #0a6ebd
}
#spar-nav .nav>li>a:focus{
  background: none;
  color: #2196f3
}

/* JUMBOTRON IMAGES AND CSS */
#about .jumbotron{
  background: url(../images/headers/uvic.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
#people .jumbotron{
  background: url(../images/headers/IMG_6614.jpg);
  background-size: 100%;
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
}

.jumbotron span{
	color: white;
}
.jumbotron h4{
	text-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0);
	line-height: 28px;
}
.jumbotron h1{
	text-shadow: 0px 0px 10px rgb(0, 0, 0), 0px 0px 10px rgb(0, 0, 0);
}

/* Hanging indent class */
.references{
  padding-left: 3em;
  text-indent: -3em;
}
